[Unit]
Description=Simple container runtime
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
User=root
ExecStart=/home/wieslaw/.cargo/bin/daemon
Restart=always

[Install]
WantedBy=multi-user.target
